<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="crm.baseUrl" value="https://crm.ru/BRK/"/>
        <add key="crm.userName" value=""/>
        <add key="crm.password" value=""/>
    </appSettings>
</configuration>